
EFCore/.idea/.idea.EFCore/.idea/dataSources.xml
EFCore/.idea/.idea.EFCore/.idea/encodings.xml
EFCore/.idea/.idea.EFCore/.idea/indexLayout.xml
EFCore/.vs/EFCore/DesignTimeBuild/.dtbcache.v2
EFCore/.vs/EFCore/v17/.futdcache.v2
EFCore/.vs/EFCore/v17/.suo
EFCore/.vs/ProjectEvaluation/efcore.projects.v6.1
EFCore/.vs/ProjectEvaluation/efcore.metadata.v6.1
EFCore/EFCore/bin/Debug/net7.0/Azure.Core.dll
EFCore/EFCore/bin/Debug/net7.0/Azure.Identity.dll
EFCore/EFCore/bin/Debug/net7.0/EFCore.deps.json
EFCore/EFCore/bin/Debug/net7.0/EFCore.dll
EFCore/EFCore/bin/Debug/net7.0/EFCore.exe
EFCore/EFCore/bin/Debug/net7.0/EFCore.pdb
EFCore/EFCore/bin/Debug/net7.0/EFCore.runtimeconfig.json
EFCore/EFCore/bin/Debug/net7.0/Humanizer.dll
EFCore/EFCore/bin/Debug/net7.0/Microsoft.Bcl.AsyncInterfaces.dll
EFCore/EFCore/bin/Debug/net7.0/Microsoft.Data.SqlClient.dll
EFCore/EFCore/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
EFCore/EFCore/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Design.dll
EFCore/EFCore/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
EFCore/EFCore/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Relational.dll
EFCore/EFCore/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.SqlServer.dll
EFCore/EFCore/bin/Debug/net7.0/Microsoft.Extensions.Caching.Abstractions.dll
EFCore/EFCore/bin/Debug/net7.0/Microsoft.Extensions.Caching.Memory.dll
EFCore/EFCore/bin/Debug/net7.0/Microsoft.Extensions.Configuration.Abstractions.dll
EFCore/EFCore/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
EFCore/EFCore/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.dll
EFCore/EFCore/bin/Debug/net7.0/Microsoft.Extensions.DependencyModel.dll
EFCore/EFCore/bin/Debug/net7.0/Microsoft.Extensions.Logging.Abstractions.dll
EFCore/EFCore/bin/Debug/net7.0/Microsoft.Extensions.Logging.dll
EFCore/EFCore/bin/Debug/net7.0/Microsoft.Extensions.Options.dll
EFCore/EFCore/bin/Debug/net7.0/Microsoft.Extensions.Primitives.dll
EFCore/EFCore/bin/Debug/net7.0/Microsoft.Identity.Client.dll
EFCore/EFCore/bin/Debug/net7.0/Microsoft.Identity.Client.Extensions.Msal.dll
EFCore/EFCore/bin/Debug/net7.0/Microsoft.IdentityModel.Abstractions.dll
EFCore/EFCore/bin/Debug/net7.0/Microsoft.IdentityModel.JsonWebTokens.dll
EFCore/EFCore/bin/Debug/net7.0/Microsoft.IdentityModel.Logging.dll
EFCore/EFCore/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.dll
EFCore/EFCore/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
EFCore/EFCore/bin/Debug/net7.0/Microsoft.IdentityModel.Tokens.dll
EFCore/EFCore/bin/Debug/net7.0/Microsoft.SqlServer.Server.dll
EFCore/EFCore/bin/Debug/net7.0/Microsoft.Win32.SystemEvents.dll
EFCore/EFCore/bin/Debug/net7.0/Mono.TextTemplating.dll
EFCore/EFCore/bin/Debug/net7.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
EFCore/EFCore/bin/Debug/net7.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
EFCore/EFCore/bin/Debug/net7.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
EFCore/EFCore/bin/Debug/net7.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
EFCore/EFCore/bin/Debug/net7.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
EFCore/EFCore/bin/Debug/net7.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
EFCore/EFCore/bin/Debug/net7.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
EFCore/EFCore/bin/Debug/net7.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
EFCore/EFCore/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
EFCore/EFCore/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
EFCore/EFCore/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
EFCore/EFCore/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
EFCore/EFCore/bin/Debug/net7.0/System.CodeDom.dll
EFCore/EFCore/bin/Debug/net7.0/System.Configuration.ConfigurationManager.dll
EFCore/EFCore/bin/Debug/net7.0/System.Drawing.Common.dll
EFCore/EFCore/bin/Debug/net7.0/System.IdentityModel.Tokens.Jwt.dll
EFCore/EFCore/bin/Debug/net7.0/System.Memory.Data.dll
EFCore/EFCore/bin/Debug/net7.0/System.Runtime.Caching.dll
EFCore/EFCore/bin/Debug/net7.0/System.Security.Cryptography.ProtectedData.dll
EFCore/EFCore/bin/Debug/net7.0/System.Security.Permissions.dll
EFCore/EFCore/bin/Debug/net7.0/System.Windows.Extensions.dll
EFCore/EFCore/obj/Debug/net7.0/apphost.exe
EFCore/EFCore/obj/Debug/net7.0/EFCore.AssemblyInfo.cs
EFCore/EFCore/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
EFCore/EFCore/Migrations/ApplicationContextModelSnapshot.cs
EFCore/EFCore/obj/Debug/net7.0/EFCore.AssemblyInfoInputs.cache
EFCore/EFCore/obj/Debug/net7.0/EFCore.assets.cache
EFCore/EFCore/obj/Debug/net7.0/EFCore.csproj.AssemblyReference.cache
EFCore/EFCore/obj/Debug/net7.0/EFCore.csproj.CopyComplete
EFCore/EFCore/obj/Debug/net7.0/EFCore.csproj.CoreCompileInputs.cache
EFCore/EFCore/obj/Debug/net7.0/EFCore.csproj.FileListAbsolute.txt
EFCore/EFCore/obj/Debug/net7.0/EFCore.dll
EFCore/EFCore/obj/Debug/net7.0/EFCore.GeneratedMSBuildEditorConfig.editorconfig
EFCore/EFCore/obj/Debug/net7.0/EFCore.genruntimeconfig.cache
EFCore/EFCore/obj/Debug/net7.0/EFCore.GlobalUsings.g.cs
EFCore/EFCore/obj/Debug/net7.0/EFCore.pdb
EFCore/EFCore/obj/Debug/net7.0/ref/EFCore.dll
EFCore/EFCore/obj/Debug/net7.0/refint/EFCore.dll
EFCore/EFCore/obj/EFCore.csproj.EntityFrameworkCore.targets
EFCore/EFCore/obj/EFCore.csproj.nuget.dgspec.json
EFCore/EFCore/obj/EFCore.csproj.nuget.g.props
EFCore/EFCore/obj/EFCore.csproj.nuget.g.targets
EFCore/EFCore/obj/project.assets.json
EFCore/EFCore/obj/project.nuget.cache
EFCore/EFCore/obj/project.packagespec.json
EFCore/EFCore/obj/rider.project.model.nuget.info
EFCore/EFCore/obj/rider.project.restore.info
EFCore/EFCore.sln
